// Niri overview backdrop image
layer-rule {
    match namespace="awww-daemon-backdrop"
    place-within-backdrop true
}

// Background effect for all windows
window-rule {
    match app-id=r#".*"#

    background-effect {
        xray true
        blur true
        noise 0.05
        saturation 2
    }
}

window-rule {
    match app-id=r"steam*"
    open-focused true
}

// Opacity for file managers and terminal
window-rule {
    match app-id=r#"thunar"#
    match app-id=r#"nautilus"#
    match app-id=r#"Alacritty"#
    opacity 0.8

    background-effect {
        xray true
        blur true
        noise 0.05
        saturation 2
    }
}

// Picture-in-picture: open floating
window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    match app-id=r#"app.zen_browser.zen$"# title="^Picture-in-Picture$"
    match app-id=r#"brave-origin$"# title="^Picture-in-Picture$"

    open-floating true
}

// Browsers and editor: open maximized
window-rule {
    match app-id=r#"zen"#
    match app-id=r#"app.zen_browser.zen"#
    match app-id=r#"brave-origin"#
    match app-id=r#"helium-browser"#
    match app-id=r#"code"#
    open-maximized true
}

// xdg-desktop-portal-gtk / copyq: floating popup
window-rule {
    match app-id=r#"xdg-desktop-portal-gtk"#
    match app-id=r#"copyq"#

    open-floating true
    default-floating-position x=660 y=240
    min-width 400
    min-height 600
}

// Waybar layer
layer-rule {
    match namespace="waybar"

    opacity 1.0
    shadow {
        off
        softness 100
        spread 12
        offset x=0 y=0
        draw-behind-window true
        color "#00000064"
    }
}

// Hakuspace apps
window-rule {
    match app-id=r#"seycava"#
    match app-id=r#"seylavat"#
    match app-id=r#"seyclock"#

    default-column-width { proportion 0.4; }
}

window-rule {
    match app-id=r#"seycmd"#

    default-column-width { proportion 0.6; }
}

// Desktop icons rename dialog
window-rule {
    match app-id="desktop_icons.py"
    match title="Rename"

    open-floating true
    min-width 300
    min-height 100
}
